body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(descarga.jpg);
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

section {
    display: none;
    margin: 20px 0;
}

button {
    margin-bottom: 10px;
}

h2{
    text-align: center;
}